button::before {
  transform: scaleX(0);
  transform-origin: bottom right;
}
button:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}
button::before {
  content: ' ';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: hotpink;
  z-index: -1;
  transition: transform 0.3s ease;
}
button {
  position: relative;
  font-size: 24px;
  font-family: system-ui, sans-serif;
  background: none;
  border: none;
}