:root {
  --color-1: hsl(215, 70%, 52%);
  --color-2: hsl(288, 70%, 52%);
  --color-3: hsl(151, 70%, 52%);
  --color-4: hsl(104, 70%, 52%);
  --speed: 2s;
}
.loader {
  animation: rotate var(--speed) infinite;
  height: 50px;
  width: 50px;
}

.loader:before,
.loader:after {
  border-radius: 50%;
  content: '';
  display: block;
  height: 20px;
  width: 20px;
}
.loader:before {
  animation: ball1 1s infinite;
  background-color: var(--color-3);
  box-shadow: 30px 0 0 var(--color-1);
  margin-bottom: 10px;
}
.loader:after {
  animation: ball2 1s infinite;
  background-color: var(--color-4);
  box-shadow: 30px 0 0 var(--color-2);
}

@keyframes rotate {
  0% {
    -webkit-transform: rotate(0deg) scale(0.8);
    -moz-transform: rotate(0deg) scale(0.8);
  }
  50% {
    -webkit-transform: rotate(360deg) scale(1.2);
    -moz-transform: rotate(360deg) scale(1.2);
  }
  100% {
    -webkit-transform: rotate(720deg) scale(0.8);
    -moz-transform: rotate(720deg) scale(0.8);
  }
}

@keyframes ball1 {
  0% {
    box-shadow: 30px 0 0 var(--color-1);
  }
  50% {
    box-shadow: 0 0 0 var(--color-1);
    margin-bottom: 0;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--color-1);
    margin-bottom: 10px;
  }
}

@keyframes ball2 {
  0% {
    box-shadow: 30px 0 0 var(--color-2);
  }
  50% {
    box-shadow: 0 0 0 var(--color-2);
    margin-top: -20px;
    -webkit-transform: translate(15px, 15px);
    -moz-transform: translate(15px, 15px);
  }
  100% {
    box-shadow: 30px 0 0 var(--color-2);
    margin-top: 0;
  }
}